.destination {
	gap: 3rem;
	.imgWrapper {
		width: 100%;
		display: flex;
		justify-content: center;
	}
	.planet {
		max-width: 444px;
		margin-top: 98px;
		& > .title {
			font-family: 'Bellefair';
			font-size: 100px;
			color: #fff;
			margin-top: 37px;
			margin-bottom: 16px;
		}
		& > .text {
			font-family: 'Barlow';
			font-size: 18px;
			color: #d0d6f9;
			margin-bottom: 55px;
		}
		hr {
			border-color: #383b4b;
			width: 100%;
		}
		.distance {
			margin-top: 28px;
			display: inline-block;
			margin-right: 79px;
			.title {
				font-size: 14px;
				color: #d0d6f9;
			}
			.text {
				font-size: 28px;
				color: #fff;
			}
		}
		.travel {
			margin-top: 28px;
			display: inline-block;
			.title {
				font-size: 14px;
				color: #d0d6f9;
			}
			.text {
				font-size: 28px;
				color: #fff;
			}
		}
	}
	.tabMenu {
		display: flex;
		gap: 1.5rem;
		button {
			font-family: 'Barlow';
			background: none;
			border: none;
			color: #d0d6f9;
			position: relative;
			cursor: pointer;
			&.active {
				color: #fff;
				&::after {
					content: '';
					position: absolute;
					top: 100%;
					left: 50%;
					transform: translateX(-50%);
					width: 80%;
					height: 3px;
					margin-top: 12px;
					background-color: #fff;
				}
			}
		}
	}
	@media (max-width: 1036px) {
		.imgWrapper {
			margin-top: 100px;
		}
		.planetImg {
			width: 300px;
		}
		.planet {
			margin-top: 0;
			display: flex;
			align-items: center;
			flex-direction: column;
			.text {
				text-align: center;
			}
		}
	}
	@media (max-width: 570px) {
		padding-top: 0;
		.imgWrapper {
			margin-top: 0;
		}
		.planet {
			.title {
				font-size: 60px;
			}
			.text {
				font-size: 15px;
			}
		}
		.infoWrapper {
			display: flex;
			flex-direction: column;
			text-align: center;
			.distance {
				margin-right: 0;
			}
		}
	}
}
