.technology {
	display: flex;
	gap: 2rem;
	margin-top: 137px;
	.content {
		width: 470px;
		color: #d0d6f9;
		.title {
			margin-top: 11px;
			font-size: 56px;
			color: #fff;
		}
		.text {
			margin-top: 17px;
			font-size: 18px;
			font-family: 'Barlow';
		}
	}
	.imgWrapper {
		position: absolute;
		right: 0;
		top: 0;
		margin-top: 68px;
	}
}
.circles {
	display: flex;
	gap: 2rem;
	flex-direction: column;
	.circle {
		cursor: pointer;
		width: 80px;
		height: 80px;
		border-radius: 50%;
		border: 1px solid #494952;
		color: #fff;
		display: grid;
		place-items: center;
		font-size: 32px;
		font-family: 'Bellefair';
		&.active {
			background-color: #fff;
			color: black;
		}
	}
}
